/* Write your code here. */

$screen-width: 600px;
$screen-height: 508px;
$padding: 26px;

.reading-wrapper {
  margin-left: 208px;
  width: $screen-width;
  height: $screen-height;
  padding: $padding;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/reader.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  // background: red;
}
