@import 'variables';

/*---------------- Badge Wrapper --------------- */

.badge-wrapper {
  @include font-title;
  margin: 0 auto;
  font-size: .9em;
  line-height:1.4em;
  text-transform: uppercase;
  text-align: center;
  width: 70px;
  height: 120px; 
  //background:red;
  margin-bottom:10px;
}


/*---------------- Badges --------------- */

.badge-wrapper {
  .badge {
    @include transition-delay;
    margin: 0 auto 6px auto;
    border-radius: 50%;
    pointer-events: none;
  }
}


/* ------- SIZE ---------*/

$image-size-factor:.6;
@include breakpoint-xs {
  .badge {
    $badge-size: 20px;
    height: $badge-size!important;
    width: $badge-size!important;
    span.fa {
      height: $badge-size!important;
      width: $badge-size!important;
      font-size: 2em;
    }
  }
}

@include breakpoint-sm {
  .badge {
    $badge-size: 30px;
    height: $badge-size!important;
    width: $badge-size!important;
    span.fa {
      height: $badge-size!important;
      width: $badge-size!important;
      font-size: 2em;
    }
  }
}


/* ------- HOVER ---------*/

.result-panel {
  .badge {
    opacity: 1;
  }
  &:hover {
    .badge {
      opacity: 1;
    }
  }
}


/* ------- COLORS ---------*/

$icon-color:$base-color;
$badge-pdf:#E2A554;
$badge-doc:$base-color;
$badge-webpage:#b51c1c;
.result-panel {
  .badge-wrapper {
    .badge {
      &.pdf {
        background: $badge-pdf;
      }
      &.doc {
        background: $badge-doc;
      }
      &.webpage {
        background: $badge-webpage;
      }
      &.letter {
        background: $badge-pdf;
      }
      &.press {
        background: $badge-doc;
      }
      &.committee {
        background: $badge-webpage;
      }
    }
  }
}
