@import 'variables';

/*---------------- Logo --------------- */




.navigation {
  ul.nav {
    li.nav-item {
      img.logo-large {
        height:38px;
      }
      img.logo-small {
        height:38px;
      }
    }
  }
}



.navigation {
  ul.nav {
    li.nav-item {
      img.logo-large {
        display: none;
      }
    }
  }
}

@include breakpoint-sm {
  .navigation {
    ul.nav {
      li.nav-item {
        img.logo-small {
          display: none;
        }
        img.logo-large {
          display: block;
        }
      }
    }
  }
}
