@import 'variables';
.page-title {
  height: 80px;
  padding: 0;
  line-height: 50%!important;
  img {
    height: 30px;
  }
}


/*------ DEV COLORS -------*/

.page-title {
  //background: red;
  span {
    //background: blue;
  }
}
