/* Write your code here. */

$screen-width: 600px;
$screen-height: 508px;
$padding: 26px;

.reading-screen {
  font-family: 'Didact Gothic', sans-serif;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 6px;

  // background: red;
}

$description-section-height: 100px;

.description-section {
  font-size: 18px;
  color: rgb(56, 56, 56);
  height: $description-section-height;
  // background: red;
}

$content-section-height: 130px;

.content-section {
  font-size: 24px;
  color: rgb(51, 128, 230);
  font-weight: bold;
  letter-spacing: 0.03em;
  height: $content-section-height;
}

$button-size: 50px;

.button-row {
  height: $button-size;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background: gold;
}

.button {
  pointer-events: all;
  width: auto;
  height: $button-size;
  z-index: 1;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
  border-radius: $button-size;
  border: none;
  padding: 0 35px;
  background: #5cd09a;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: #49a57a;
  }
  &.back {
    background: #5cb9d0;
    &:hover {
      background: #4990a5;
    }
  }
}
